@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Hind');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  background: #FFF;
}
h1,h2,h3,h4,h5,h6,.progressBar,.tile-main-text {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.c-p {
  color: royalblue;
}

/* Tiles */
.tiles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}
.tiles .tile {
  width: 50%;
  height: 33.33%;
  position: relative;
  cursor: pointer;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #2E373E;
  color: #fff;
}
.tiles .tile:hover {
  background-color: #2E373E !important;
}
.tiles .tile .title {
  position: absolute;
  left: calc(50% - 10px);
  transform: translateX(-50%);
  bottom: 0;
  margin: 10px;
}
.tiles .tile .icon {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
  width: 40px;
  height: 40px;
  filter: invert(100%);
  opacity: 0.6;
}

.progressBar {
  font-weight: bold;
  position: relative;
  width: 100%;
}
.tile-main-text {
  font-weight: bold;
  font-size: 2em;
}

.dark-theme {
  background: #343434;
  color: #fff;
}

/* WELCOME Overview */
.WelcomeLeftScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em 6em;
}
.WelcomeLeftScreen h1 {
  font-weight: bold;
}
.WelcomeOverviewBasic, .EmployeeOverviewBasic, .PeopleOverviewBasic, .ProfileOverviewBasic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./pane-background/Blue.jpg) no-repeat left center;
  background-size: cover;
}
.EmployeeOverviewBasic {
  background-image: url(./pane-background/employee.jpg);
}
.PeopleOverviewBasic {
  background-image: url(./pane-background/person.jpg);
}
.ProfileOverviewBasic {
  background-image: url(./pane-background/city.jpg);
}

.WelcomeOverviewBasic .progressBar, .EmployeeOverviewBasic .progressBar {
  width: 65%;
}
.WelcomeOverviewDetailed .progressBar {
  width: 40%;
  font-size: 1em;
}
.EmployeeOverviewDetailed .progressBar, .ProfileOverviewDetailed .progressBar {
  width: 58%;
  font-size: 1em;
}
.EmployeeOverviewDetailed .tile, .PeopleListView .tile, .ProfileOverviewDetailed .tile {
  width: 33.33%;
}
.EmployeeOverviewDetailed .tile.colspan-2 {
  width: 66.66%;
}
.EmployeeOverviewBasic h1 {
  font-size: 1.6em;
}
.EmployeeOverviewDetailed h1, .ProfileOverviewDetailed h1 {
  font-size: 1.6em;
}
.EmployeeOverviewDetailed .tile-main-text, .ProfileOverviewDetailed .tile-main-text {
  font-size: 1.6em;
}
.ProfileOverviewBasic .person-combo {
  transform: translateY(3%);
}
.white-theme {
  background: #fff;
}
.white-theme .tile {
  color: #222;
  border: 1px solid rgba(0,0,0,0.1);
}
.white-theme .tile:hover {
  background-color: #eee !important;
}
.PeopleListViewItem {
  width: 50%;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 50%;
}

.back-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  padding: 1em;
  color: #fff;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
}
.back-navbar a {
  color: #fff;
}
.profile-stats-row > div {
  margin: 1em;
  width: 20%;
}
.profile-stats-row > div > div:nth-child(2) {
  color: #bbb;
}
.person-combo {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-5%);
}
.person-combo .progressBar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  width: 55%;
}
.person-combo .progressBar:nth-child(2) {
  width: 61%;
}
.person-combo .progressBar:nth-child(3) {
  width: 67%;
}

/* button style http://bootsnipp.com/snippets/QABqr */
a.button {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 1em auto;
  text-decoration: none;
  border-radius: 1px;
  padding: 1em 3em;
  font-weight: bold;
  font-style: italic;
  color: rgba(10, 10, 10, 0.7);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.slideLeft{
  transform: translate(100%);
}

.slideLeft.slideLeft-active {
  transform: translate(0%);
  transition: opacity 250ms ease-in;
}
.avatar-wrapper {
  overflow: hidden;
  border-radius:50%;
  position: relative;
}

.avatar-wrapper img {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}
